/*
 padding of a box has a background, while margins are always transparent.
 Padding is included in the click area of an element, while margins aren’t.
 Margins collapse vertically, while padding doesn’t (we’ll discuss this more in the next section).
*/

h1 {
    padding: 20px 0 20px 10px; /* Top  Right  Bottom  Left */
    border-bottom: 1px solid #5D6063; /* size style color */
}
p {
    padding: 20px 10px; /* vertical:horizontal */
    margin-bottom: 50px;
}
h1, p {
    background-color: #DDE0E3;    /* Light gray */
  }
  
em, strong {
    background-color: #B2D6FF;    /* Light blue */
    display: inline;
}